<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trussell.wgustudentscheduler">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TermActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTermActivity"
            android:label="@string/app_add_term"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UpdateTermActivity"
            android:label="@string/app_update_term"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailsTermActivity"
            android:label="@string/term_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCourseActivity"
            android:label="@string/add_course"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UpdateCourseActivity"
            android:label="@string/update_course"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailsCourseActivity"
            android:label="@string/course_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAssessmentActivity"
            android:label="@string/add_assessment"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UpdateAssessmentActivity"
            android:label="@string/update_assessment"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailsAssessmentActivity"
            android:label="@string/assessment_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddMentorActivity"
            android:label="@string/add_mentor"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UpdateMentorActivity"
            android:label="@string/update_mentor"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailsMentorActivity"
            android:label="@string/mentor_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddNoteActivity"
            android:label="@string/add_note"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UpdateNoteActivity"
            android:label="@string/update_note"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailsNoteActivity"
            android:label="@string/note_details"
            android:theme="@style/AppTheme" />
    </application>

</manifest>